html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.flex_principal{
    display: flex;
    flex-direction: row;
}

.text_h1{
    margin:0;
}

.text_p{
    margin: 0;
}

.principal_img{
    max-width: 650px;
}

.flex_principal_botton{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
}

.flex1{
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 100%;
}
.flex2{
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 100%;
}

.flex3{
    display: flex;
    padding: 0 5px 0 5px ;
    justify-content: space-between;
}

.flex3 div{
    width: calc(20% - 5px);
    height: 100%;
}

.flex3 div img{
    width: 100%;
    height: 70%;
}

.flex4 div{
    width: calc(20% - 5px);
    height: 100%;
}

.flex4 div img{
    width: 100%;
    height: 70%;
}
.final_title{
    text-align: left;
    margin-left: 10px;;
}

.flex4{
    display: flex;
    padding: 0 5px 0 5px ;
    justify-content:space-between;
}